# IDE
.idea/
*.iml
.vscode/

# Claude Code local
.claude/settings.local.json

# Build
target/
build/
*.class

# Env & secrets — JANGAN pernah commit
.env
.env.*
*.pem
*.key
secrets/
!*.sops.*

# Logs & temp
*.log
.DS_Store

# Quarkus CLI artifacts
.quarkus/

# jqwik
.jqwik-database
